<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919181857869-htrhe2ibktv5tol5tkl6v5fa8uvkqrdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919181857869-htrhe2ibktv5tol5tkl6v5fa8uvkqrdc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>919181857869-ulmqk4prsnb46vicgjoosi3jitsfo0oh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqHxZZ1AU_CPk1WL_DPDRXdY64Eh1fYGI</string>
	<key>GCM_SENDER_ID</key>
	<string>919181857869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hellohome</string>
	<key>PROJECT_ID</key>
	<string>hello-home-5276e</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-home-5276e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919181857869:ios:2206cfbeca3b446fc5b804</string>
	<key>DATABASE_URL</key>
	<string>https://hello-home-5276e.firebaseio.com</string>
</dict>
</plist>